@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.App {
  text-align: center;
  background-color: #EAEBED;
}
div .lineaVertical{
  width: 2px;
  height: 50%; 
  background-color: black;
}

.caja{
  align-items: center;
  color: black;
  width: 500px;
  height: 300px;
  margin-left: 50px;
}
.cajaEfectivo{
  align-items: center;
  color: black;
  width: 400px;
  height: 150px;
  margin-left: 30px;
  margin-top: 100px;
}

.separados{
  margin: 50px;

}
.separados .box{
  display: inline;
}

.cajaTarjeta{
  align-items: left;
  color: black;
  width: 500px;
  height: 300px;
  margin-top: 100px;
  margin-left: 700px;
  margin-right: 50px;
  align-items: left;
  border: 2px ;
}

.cajaTarjeta div{
  text-align: left;
  margin-left: 35px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
